listen_addr="0.0.0.0"

# Restrict daemon to listen on localhost only
listen on $listen_addr

# Specify a number of trap receivers

# Adjust the local system information
system contact "{{ snmp['contact'] }}"
system description "{{ inventory_hostname }}"
system location "{{ snmp['location'] }}"
system services 74

# Enable SNMPv3 USM with authentication, encryption and two defined users
seclevel enc
user "{{ snmp['user'] }}" authkey "{{ snmp['auth_key'] }}" enc aes enckey "{{ snmp['priv_key'] }}"
