DEFAULT	Framed-Protocol == PPP
	Framed-Protocol = PPP,
	Framed-Compression = Van-Jacobson-TCP-IP

DEFAULT	Hint == "CSLIP"
	Framed-Protocol = SLIP,
	Framed-Compression = Van-Jacobson-TCP-IP

DEFAULT	Hint == "SLIP"
	Framed-Protocol = SLIP

{% for user in netusers %}
{{ user }} Cleartext-Password := "{{ netusers[user]['radpwd'] }}"
      Group = "full",
      cisco-avpair = "shell:priv-lvl=15"
{% endfor %}
