# $OpenBSD: ospfd.conf,v 1.2 2018/08/07 07:06:20 claudio Exp $

# macros
id="{{ router_id }}"

# global configuration
router-id $id

# areas
area 0.0.0.0 {
{% for interface in interfaces %}
{% if interface['ospf'] is defined %}
{% if '0.0.0.0' in interface['ospf']['area'] %}
	interface {{ interface['openbsd_if'] }} {
 {% if interface['ospf']['passive'] is defined %}
   passive
 {% endif %}
	}
{% endif %}
{% endif %}
{% endfor %}
}

